body{
    background:white;
}
.jumbotron{
    background-color:#0B3C5D;
    color:white;
    
}

.double {
    border-style: double;
    border-width:15px;
    
}
.serif {
    font-family: "Courier New", Times, Monospace;
    border-style:double;
    border-width:15px;
    text-align:center;
}
.center {
    text-align: center;
}

